%h1 ユーザ毎回答一覧

%table.table.table-hover
  %thead
    %tr
      %th 名前
      %th コメント
      - @vote.items.order(:id).each do |item|
        %th= item.name
      %th
      %th
      %th

  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.user_name
        %td= answer.comment
        - answer.items.order(:vote_item_id).each do |item|
          %td= item.rank
        %td= link_to 'Show', [@vote, answer]
        %td= link_to 'Edit', edit_vote_answer_path(@vote, answer)
        %td= link_to 'Destroy', [@vote, answer], :method => :delete, :data => { :confirm => 'Are you sure?' }

%h1 項目毎集計一覧

%table.table.table-hover
  %thead
    %tr
      %th 項目名
      %th 集計値

  %tbody
    - @vote.items.each do |vote_item|
      %tr
        %td= vote_item.name
        - c = @answers.joins(:items).where(answer_items: {vote_item_id: vote_item.id}).group(:rank).count
        - Rails.logger.info '*' * 30
        - Rails.logger.info c.inspect
        %td= c.sort_by(&:first).to_h
