%h1 投票シート

%h2= Vote.human_attribute_name(:title)
%p= @vote.title

%h2= Vote.human_attribute_name(:description)
%p= simple_format auto_link @vote.description

%table.table.table-striped
  %thead
    %tr
      %th 項目名
      %th 追加情報
  %tbody
    - @vote.items.order(:id).each do |item|
      %tr
        %td= item.name
        %td= simple_format auto_link item.addition

%hr

%h2 回答 URL
= link_to new_vote_answer_url(vote_id: @vote.uuid), new_vote_answer_url(vote_id: @vote.uuid), target: '_blank'

%h2 回答数
= @vote.answers.size

%h2 集計 URL
= link_to vote_answers_url(vote_id: @vote.uuid), vote_answers_url(vote_id: @vote.uuid), target: '_blank'

%hr

= link_to 'タイトル、説明、公開/非公開を編集する', edit_vote_path, class: 'btn btn-primary'
