%h1 投票シート

%h4= Vote.human_attribute_name(:title)
%p= @vote.title

%h4= Vote.human_attribute_name(:description)
%p= simple_format @vote.description

%table.table.table-striped
  %thead
    %tr
      %th 項目名
      %th 追加情報
  %tbody
    - @vote.items.order(:id).each do |item|
      %tr
        %td= item.name
        %td= simple_format item.addition

%hr

%h4 回答 URL
= link_to new_vote_answer_url(vote_id: @vote.uuid), new_vote_answer_url(vote_id: @vote.uuid), target: '_blank'

%h4 回答数
= @vote.answers.size

%h4 集計 URL
= link_to vote_answers_url(vote_id: @vote.uuid), vote_answers_url(vote_id: @vote.uuid), target: '_blank'

%hr

= form_for @vote do |f|
  = f.label :closed_false, '投票を受け付ける'
  = f.radio_button :closed, false, value: false
  = f.label :closed_true, '投票を締め切る'
  = f.radio_button :closed, true, value: true

  = f.submit '更新', class: 'btn btn-primary'
